@import "~materialize-css/dist/css/materialize.min.css";


body {
  background-color: #cce9e6 ;
}



h1, h3 {
  text-align: center;
  margin-bottom: 60px;
}

.registration {
  display: flex;
  justify-content: space-between;
}

/* #26a69a */
