
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 72px;
  right: 0;

  width: 200px;
  height: 640px;

  padding: 3px;
  // border: 1px solid #aaa;

  button:first-child {
    margin-top: 68px;
  }

  span, button {
    width: 190px;
  }

  .bottom {

    .high {
      margin-bottom: 40px;
      span {
        margin-bottom: 4px;
      }
    }
    button {
      margin-bottom: 4px;
    }
    button:last-child {
      margin-bottom: 0;
    }
  }
  
}
