$tableBorderExtraThin: 1px solid #aaa;
$tableBorderThin: 2px solid #aaa;
$tableBorderBold: 3px solid #aaa;



.phase_container {
  margin: 20px 0 0;

  .selections_container {
    display: flex;
    justify-content: center;

    .selection {
      width: 256px;

      fieldset {
        height: 320px;
        overflow: auto;

        legend {
          margin-left: 20px;
          font-size: 1.5rem;
          user-select: none;
        }

        ul {
          height: 200px;
          overflow: auto;
        }
      }
    }
  }

  label {
    color: black;
  }

  .check_all {
    font-style: italic;
  }
}

.button_container {
  display: flex;
  justify-content: space-around;

  padding-top: 40px;
}
