.tables_container {
  display: flex;
  margin-bottom: 40px;
  
  details:first-child {
    width: 300px;
    margin-right: 40px;
  }
  
  table.manage {
    border: 2px solid #000;
    width: 100%;
    
    tr, td, th {
      border: 2px solid #000;
      padding: 4px;
    }


    .relevance_box {
      font-style: italic;

      .relevance_subbox {
        display: flex;
        justify-content: flex-start;

        div {
          margin-right: 10px;
        }

        i {
          color: #114d47;
          user-select: none;
        }
      }
    }

    .alternative_cell {

      &:hover {
        cursor: pointer;
      }
    }
  }

  .adding_box {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    
    span {
      border-radius: 0;
      width: 100%;
    }
  }
}

.popup {

  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;

  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .popup_content {
    padding: 20px;
    // border-radius: 4px;
    background-color: #fff;

    height: 77vh;
    width: 58vw;

    transform: scale(0.5);
    transition: 0.2s all;

    &.active {
      transform: scale(1);
    }
  }

  .popup_exit {
    width: 28px;
    height: 28px;
    position: relative;
    bottom: 270px;
    right: 35px;

    &:hover {
      border-color: #28a498;
      transition: 0.3s;
    }

    i {
      cursor: pointer;
      color: #1d847a;

      &:hover {
        color: #28a498;
        transition: 0.3s;
      }
    }
  }
}
