.title {
  text-align: center;
  font-style: italic;
  user-select: none;
  margin: 70px 0 50px;
}

.card {
  padding-bottom: 0 !important;
}

.bottom {
  display: flex;
  flex-direction: column;
  // border-top: 1px solid #b5b5b5;

  // position: relative;
  // top: -20px;


  .mainbtn {
    padding: 10px 25px 10px;
    
    button {
      width: 100%;
    }
  }

  .condition {
    text-align: center;
    color: #696969;
    padding: 10px 25px 15px;
    
    .textbtn {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: #21958a;
        transition: 200ms;
      }
    }
  }
}
