$tableBorderBold: 3px solid #aaa;
$tableBorderThin: 2px solid #aaa;
$tableBorderExtraThin: 1px solid #aaa;

.alternatives_rating_container {
  background-color: #dff1f0;
  border: 2px #888 solid;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  
  .criterion_box {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 15px;
    padding: 5px;
    width: 150px;
    border: $tableBorderBold;
    background-color: #00000010;

    .title {
      display: flex;
      margin: 3px auto 20px auto;
      font-weight: 700;
    }

    label {
      color: black;

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  table {
    border: $tableBorderBold;
    width: 97%;
    table-layout: fixed;
    margin: 15px;

    thead {
      th {
        padding: 7px 0 7px 2px;
      }
      tr:first-child {
        th {
          background-color: #00000020;
        }
      }
    }

    th {
      
      border: $tableBorderThin;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.8rem 0 0.8rem 2px;
      text-align: center;
      background: #00000030;
      user-select: none;
    }

    td {
      &.top {
        cursor: pointer;
      }
      &.bot {
        cursor: pointer;
        background-color: #00000010;
      }
      &.diagonal {
        background-color: #00000020;
      }
    }

    td {
      border: $tableBorderExtraThin;
      overflow: hidden;
      padding: 0;
      text-align: center;
      font-size: 1.5rem;
      user-select: none;
    }

    tbody {
      tr:hover{
        background-color: #55555530;
        outline: #777 3px solid;
      }
      td:hover {
        background-color: #00ffe550;
        outline: #555 4px solid;
        outline-offset: -3.5px;
      }
    }
  }

  .popup {

    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    opacity: 0;
    pointer-events: none;
  
    transition: 0.3s;
  
    &.active {
      opacity: 1;
      pointer-events: all;
    }

    input {
      cursor: auto;
    }

    .popup_content {
      padding: 20px;
      border-radius: 12px;
      background-color: #fff;
    
      height: 220px;
      width: 400px;
    
      transform: scale(0.5);
      transition: 0.2s all;
    
      user-select: none;
    
      &.active {
        transform: scale(1);
      }
    
      .rating_box {
        display: flex;
        justify-content: space-between;
      }
    
      .popup_menu {
        margin-top: 8px;
        display: flex;
    
        .item {
          span {
            width: 72px;
            border-radius: 0px;
          }
        }
      }
    
      .popup_exit {
        border: 2px solid #1d847a;
        border-radius: 14px;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 15px;
        right: 15px;
    
        &:hover {
          border-color: #28a498;
          transition: 0.3s;
        }
    
        i {
          cursor: pointer;
          color: #1d847a;
    
          &:hover {
            color: #28a498;
            transition: 0.3s;
          }
        }
      }
    }  
  }
}
