.researches_box {

  .page_title {
    margin: 16px 0 16px;
  }

  .researches_subbox {
    display: flex;
  
    .menu {

      a {
        width: 200px;
        margin: 5px;

        user-select: none;
      }
      
    }
  }
}
