.alternative_card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .content {

    h6 {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }

    .title {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    .description {
      margin-top: 10px;

      p {
        margin-top: 5px;
      }
    }

  }

  .menu {

    .saving {
      width: 80%;
      margin-right: 2%;
    }

    .deletion {
      width: 18%; 
    }
  }

}