$tableBorderExtraThin: 1px solid #aaa;
$tableBorderThin: 2px solid #aaa;
$tableBorderBold: 3px solid #aaa;




.title_box {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;

  .title {
    margin: 0;
  }
}

.phase_container {
  margin: 20px 0 0;

  .selections_container {
    display: flex;
    justify-content: center;

    .selection {
      width: 256px;

      fieldset {
        legend {
          margin-left: 20px;
          font-size: 1.5rem;
        }
      }
    }
  }

  label {
    color: black;
  }

  .check_all {
    font-style: italic;
  }
}

.button_container {
  display: flex;
  justify-content: space-around;
  
  padding-top: 40px;
}






.criteria_comparison_table {
  border: $tableBorderBold;
  width: 100%;
  table-layout: fixed;

  th {
    border: $tableBorderThin;
    overflow: hidden;
    padding: 0.8rem 0 0.8rem 0.5rem;
    background: #00000030;

  }
  
  td {
    border: $tableBorderExtraThin;
    overflow: hidden;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    user-select: none;
  }

  // span {
  //   // text-align: center;
  //   // font-size: 1.5rem;
  //   // font-weight: 400;
  //   // width: 40px;
  //   // margin-left: auto;
  // }

  .value_box {
    display: flex;
    margin: auto;
  }


  .initial {
    background: repeating-linear-gradient(
      -45deg,
      #00000030 0,
      #00000030 4px,
      transparent 30px,
      transparent 2px);
  }
  .diagonal {
    background: #00000020;
  }
  .below, .normalized {
    background: #00000010;
  }


  .cell {
    display: flex;

    &:hover .cell_tuning{
      width: 69px;
    }
    
    .cell_tuning  {
      display: flex;
      width: 0px;
      transition: 0.2s;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
  
        position: static;
  
        height: 25.5px;
        width: 30px;
  
        border: 1px solid #999;
        border-radius: 0;
  
        font-family: monospace;
        font-size: 1rem;
        letter-spacing: 0;
        user-select: none;
  
        box-shadow: none;
      }
    }
    .cell_tuning_right span {
      height: 17px;
    }
  }

  tr:hover{
    background-color: #55555530;
    outline: #777 3px solid;
  }
  td:hover {
    background-color: #00ffe550;
    outline: #555 4px solid;
    outline-offset: -3.5px;
  }

  .sigma {
    text-align: center;
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
  }
}



.panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 72px;
  right: 0;

  width: 200px;
  height: 640px;

  padding: 3px;
  // border: 2px solid #aaa;

  button:first-child {
    margin-top: 68px;
  }

  span, button {
    width: 190px;
  }
  .bottom {
    .high {
      margin-bottom: 12px;
      span {
        margin-bottom: 2px;
      }
    }
  }
}



.criteria_normalization_table {
  border: $tableBorderBold;
  width: 100%;
  table-layout: fixed;

  th {
    border: $tableBorderThin;
    overflow: hidden;
    padding: 0.8rem 0 0.8rem 0.5rem;
    background: #00000030;

  }
  
  td {
    border: $tableBorderExtraThin;
    overflow: hidden;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    user-select: none;
  }

  span {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    width: 40px;
    margin-left: auto;
  }


  .initial {
    background: repeating-linear-gradient(
      -45deg,
      #00000030 0,
      #00000030 4px,
      transparent 20px,
      transparent 2px);
  }
  .diagonal {
    background: #00000020;
  }
  .below, .normalized {
    background: #00000010;
  }


  .cell {
    display: flex;
  }

  tr:hover{
    background-color: #55555530;
    outline: #777 3.5px solid;
  }
  td:hover {
    background-color: #00ffe550;
    outline: #555 3.5px solid;
    outline-offset: -3.5px;
  }

}