.title_box {
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;

  .title {
    margin: 0;
  }

  span i {
    font-size: 2rem;
  }
}

.title_subbox {
  display: flex;
  
  .help {
    margin-left: 20px;

    span {
      width: 36px;
      border-radius: 20px;
      padding-left: 2.5px;
    }
  }
}
